@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
}
.wrapper {
  width: 100vw;
  height: 100vh;
  background-color: #191c32;
  color: #fff;
}
.navbar {
  display: flex;
  justify-content: space-between;
  padding: 2em;
}
.brand {
  margin-top: -7px;
}
.brand span {
  color: aqua;
}